html {
    box-sizing: border-box;
}

*,
* : before,
* : after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: #050505 url("../img/img01.jpg") repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #5b5b5b;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 200;
    font-family: 'Oswald', Sans-Serif;
    color: #222222;
}

h1 {
    font-size: 3.5em;
}

h3 {
    font-size: 2.5em;
}

@media (max-width: 620px) {
    h3 {
        font-size: 2em;
    }
}

p,
ul,
ol {
    margin-top: 0;
    line-height: 180%;
}

a {
    color: #5e5e5e;
}

#wrapper {
    background: #ffffff url("../img/img05.jpg") repeat;
}

.container {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}

/* Header */

#header {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

/* Logo */

#logo {
    margin: 0;
    padding-left: 1em;
    color: #ffffff;
}

#logo h1 {
    line-height: 1.5em;
    letter-spacing: -2px;
    font-size: 3.2em;
}

#logo h1 a {
    color: #1f1f1f;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

#logo p {
    margin: 0;
    padding: 0;
    letter-spacing: -1px;
    font: normal 1em Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    color: #8e8e8e;
}

#logo p a {
    color: #8e8e8e;
}

#logo a {
    border: none;
    background: none;
    text-decoration: none;
    color: #000000;
}

/* Menu */

#menu {
    margin: 0 auto;
    padding: 0;
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
}

#menu ul li {
    display: inline-block;
}

#menu a {
    display: block;
    padding: 2em 1em;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: #1f1f1f;
    border: none;
}

#menu a:hover,
#menu .current_page_item a {
    background: url("../img/img01.jpg") repeat;
    text-decoration: none;
    color: #ffffff;
}

/* Banner */

#banner {
    margin: 0 auto;
    width: 100%;
    max-width: 950px;
    background: url("../img/img03.png") no-repeat left bottom;
}

#banner img {
    width: 100%;
    padding-bottom: 35px; /* allow banner background image to show */
}

/* Page */

#page {
    width: 100%;
    margin: 0 auto;
    padding: 1em 0;
}

/* Content */

#content {
    padding: 0 2em;
}

.post {
    border-bottom: 1px solid #e7ebed;
}

.post + .post {
    margin-top: 40px;
}

.post .title {
    padding: 7px 0 0 0;
    letter-spacing: -1px;
}

.post .title a {
    border: none;
    text-decoration: none;
    color: #222222;
}

.post .meta {
    margin-bottom: 40px;
    padding: 10px 0 0 0;
    text-align: left;
    font-family: 'Abel', sans-serif;
    font-size: 1em;
    font-weight: 300;
}

.post .meta .date {
    float: left;
}

.post .meta .posted {
    float: right;
}

.links {
    padding: 20px 0 30px;
}

.more,
.comments {
    display: inline-block;
    width: 88px;
    padding: 10px 5px;
    margin-right: 10px;
    background: #222222;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

@media (min-width: 768px) {
    .more,
    .comments {
        padding: 5px;
    }
}

.strong {
    font-weight: bold;
}

/* Sidebar */

#sidebar {
    padding: 0 2em;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li {
    margin: 0;
    padding: 0;
}

#sidebar section ul {
    margin: 0;
    padding-bottom: 30px;
}

#sidebar section li {
    line-height: 40px;
    border-bottom: 1px solid #e7ebed;
    margin: 0 0;
    border-left: none;
}

#sidebar section li span {
    display: block;
    margin-top: -20px;
    padding: 0;
    font-size: 1em;
    font-style: italic;
}

#sidebar section li a {
    padding: 0 0 0 20px;
    background: url("../img/img04.jpg") no-repeat left 50%;
}

#sidebar h3 {
    height: 38px;
    padding: 0 0 30px 0;
    letter-spacing: -0.5px;
    font-size: 1.8em;
    color: #222222;
}

#sidebar p {
    margin: 0;
    padding: 0 30px 20px 30px;
    text-align: justify;
}

#sidebar a {
    border: none;
}

#sidebar a:hover {
    text-decoration: underline;
}

/* Footer */

#footer {
    height: 140px;
    margin: 0 auto;
    padding: 50px 0 15px 0;
    font-family: 'Abel', sans-serif;
}

#footer p {
    margin: 0;
    padding: 10px;
    letter-spacing: 1px;
    line-height: normal;
    font-size: 0.9em;
    text-transform: uppercase;
    text-align: center;
    color: #5e5e5e;
}

#footer a {
    color: #5e5e5e;
}

.list-style1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-style1 a {
    color: #7f7f7f;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@media (min-width: 1200px) {
    #header {
        padding: 1.5em 0;
    }
    #header::after {
        content: "";
        clear: both;
        display: block;
    }
    #menu {
        float: right;
    }
    #logo {
        float: left;
      }
}
